<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-appliance-tab" data-toggle="pill" href="#v-pills-appliance" role="tab" aria-controls="v-pills-appliance" aria-selected="true"><i class="fas fa-plug"></i></a>
      <a class="nav-link" id="v-pills-smarthome-tab" data-toggle="pill" href="#v-pills-smarthome" role="tab" aria-controls="v-pills-smarthome" aria-selected="false"><i class="fas fa-laptop-house"></i></a>
      <a class="nav-link" id="v-pills-utility-tab" data-toggle="pill" href="#v-pills-utility" role="tab" aria-controls="v-pills-utility" aria-selected="false"><i class="far fa-lightbulb"></i></a>
      <a class="nav-link" id="v-pills-energyprovider-tab" data-toggle="pill" href="#v-pills-energyprovider" role="tab" aria-controls="v-pills-energyprovider" aria-selected="false"><i class="fas fa-bolt"></i></a>
    </div>
  </div>
</div>

