<%= include_gon %>

<div class="container">
  <h1 style="text-align: center; margin-bottom: 30px">My energy consumption</h1>
  <canvas id="smart-plug-month" style="height: 300px; width: 800px;"></canvas>
<!--   <div id="smart-plug-month" style="height: 300px; width: 800px;"></div> -->
</div>
</div>
