<%= include_gon %>

<div class="container">
  <h1 style="text-align: center; margin-bottom: 30px">My energy consumption</h1>
  <div id="chart-line" style="height: 300px; width: 800px;"></div>
</div>
</div>
