<div class="container">
  <h1>My profile page</h1>
  <hr>

  <div class="appliance-wrapper flexbox">
  <h3>Add your appliances </h3>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applianceModal" data-whatever="@mdo">+</button>
  </div>
  <hr>

<div class="appliance-wrapper flexbox">
  <h3>Connect your smart home system </h3>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#smartHomeModal" data-whatever="@mdo">+</button>
</div>
  <hr>

<div class="appliance-wrapper flexbox">
  <h3>Connect your utility account </h3>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#utilityAccModal" data-whatever="@mdo">+</button>
</div>

  <hr>

<div class="appliance-wrapper flexbox">
  <h3>Add an energy provider </h3>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#energyProvModal" data-whatever="@mdo">+</button>
</div>
  <hr>
 <%= render 'modal' %>
</div>
