// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #F5D56F;
$orange: #FF7F24;
$green: #00ced1;
$gray: #0E0000;
$light-gray: #F4F4F4;
$energywatch-green: #1fe5bd;
$light-green: #d2f7ef;
$dark-green:#16bb9a;
$magenta: #FD3AA9;
$white: white;

$ew-purple: #6147FF;
$ew-midpurple: #949bfc; //#9484ff;
$ew-lightpurple: #c4c7f2; //#d5ceff;
$ew-lightgrey: #E7E9F1;
$ew-darkgrey: #575e5c;
