.now {
  display: flex;
  justify-content: space-between;
}

.forecast {
  display: flex;
}

.forecast-cards {
  height: 400px;
  margin-right: 30px;
}

.forecast-summary {
  display: flex;
  justify-content: space-between;
}

.forecast-text {
  padding: 15px;
  width: auto;
  height: 240px;
  background-color: rgba(201,237,229,0.3);
  border: none;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin-top: 10px;

  h2 {
    font-family: Nunito;
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
}

.forecast-rec {
  text-align: center;
  height: 100px;
  width: auto;
  background-color: blue;
  border-radius: 20px;
}

.forecast-max {
  text-align: center;
  height: 100px;
  width: auto;
  background-color: blue;
  border-radius: 20px;
}

.forecast-min {
  text-align: center;
  height: 100px;
  width: auto;
  background-color: blue;
  border-radius: 20px;
}
