// Specific CSS for your home-page

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), image-url('banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px 80px;
  position: relative;
  top: -77px;
  left: 0;
  width: 100vw;
  // z-index: -1;
}

.banner h1 {
  margin: 8px 8px 8px 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin: 8px 8px 48px 0;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.page-content {
  min-height: calc(100vh - 76.8px);
  // position: relative;
  width: 100vw;
  // top: 76.8px;
}

.footer {
  position: absolute;
  bottom: -80;
  width: 100vw;
}

.full_opacity {
  opacity: 1;
}
