.overview-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.overview-card {
  position: relative;
  height: 150px;
  min-width: 250px;
  padding: 10px 20px;
  background-color: $ew-midpurple;
  border-radius: 20px;

  i {
    position: absolute;
    top: 35px;
    left: 35px;
    color: white;
    font-size: 42px;
  }

  p {
    text-align: right;
    font-size: 20px;
    color: $ew-lightgrey;
    position: absolute;
    bottom: 0px;
    right: 20px;
  }
}

.overview-header {
 margin-bottom: 30px;
 color: $ew-darkgrey;
 font-size: 25px;
}


.overview-card-appliances {
  position: relative;
  height: auto;
  margin-left: 20px;
  width: 320px;
  padding: 10px 20px;
  background-color: $ew-lightpurple;
  border-radius: 20px;
  font-size: 20px;


  i {
    position: absolute;
    top: 35px;
    left: 35px;
    color: white;
    font-size: 42px;
  }

  div {
    position: absolute;
    top: 100px;
    left: 35px;
  }

  p {
    color: white;
  }

  li {
    list-style-type: disc;
  }

}

.side-nav {
  width: 100px;
  position: fixed;
  // position: -webkit-sticky; /* Safari */
  // position: sticky;
  top: 77;
  height: calc(100vh - 77px);
}

.side-display {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 77px);
  position: relative;
  right: -100px;
}

