.flexbox {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  margin: 20px 10px;
}

.icon-nav {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 0px !important;
    margin: 0px !important;
}

.nav-pills {
  width: 100px;
  background-color: $light-green;
  height: 100vh;
}


li {
  list-style-type: none;
}

.profile-card {
  border: 1px solid $energywatch-green;
  background-color: $light-green;
  padding: 8px 8px;
  margin: 8px 8px;
  width: 30%;
  display:flex;
}
