.flexbox {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  margin: 20px 10px;
}

.icon-nav {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 0px !important;
    margin: 0px !important;
}

.nav-pills {
  width: 100px;
  background-color: $ew-lightgrey;
  height: 100vh;
}


li {
  list-style-type: none;
}

.profile-card {
  border: 1px solid $ew-midpurple;
  border-radius: 5px;
  background-color: $ew-lightpurple;
  padding: 8px 8px;
  margin: 10px 10px;
  width: 30%;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  display: inline-block;
}

.profile-card-info {
  margin-top: 12px;
}

.page-content {
  min-height: calc(100vh - 76.8px);
  // position: relative;
  width: 100vw;
  // top: 76.8px;
}

.btn-outline-primary {
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  opacity: 70%;
}

.hyperlink {
  color: $ew-purple;
}

.breath {
  padding: 0 10px 0 10px;
}
