<div class="forecast-container">

  <div id="chart-forecast" class="chart-overlay"></div>
  <div id="chart-re-forecast" class="chart-overlay chart-visible"></div>
  <button class="btn-gradient toggle-details">Details</button>
  <div class="forecast-updated-at"><p>updated: <%= @forecast_updated_at %></p></div>

</div>
