<div class="forecast-container">

<div id="chart-forecast" class="chart-overlay"></div>

<div id="chart-re-forecast" class="chart-overlay chart-visible"></div>

<button class="btn-gradient toggle-details"><i class="fas fa-chart-bar"></i></button>

</div>
