<h1>Pages#data</h1>
<p>DATA TESTS</p>

<table>
  <tr>Time: <%= "TODO: timestamp" %></tr>
  <% @data.each do |type, amount|%>
    <tr>
      <td><%=  type %></td>
      <td>
        <%=  amount %>
      </td>
    </tr>
  <% end %>
</table>


