<%= include_gon %>

<div class="container">
<h1 style="text-align: center; margin-bottom: 30px">Electricity generation by fuel type in MW</h1>
<%= render 'smart_plug_month' %>

<div class="cards">
  <div id="chart-bar" style="height: 500px; width: 800px;"></div>

  <div class="card">
    <h2><i class="far fa-lightbulb"></i>  Did you know?</h2>
    <p>Corsair Sail ho bilged on her anchor transom matey mutiny belaying pin measured fer yer chains. Bring a spring upon her cable mizzen come about yawl crimp gangplank brig lugger.</p>

    <p> Matey Chain Shot boom marooned deadlights maroon transom topgallant. Mizzenmast interloper line belay hands splice the main brace gabion black spot.</p>

    <p>Gun Letter of Marque haul wind wench boatswain nipper case shot brigantine. Cat o'nine tails scuppers black spot Shiver me timbers gabion crimp grog blossom keel.</p>
  </div>
</div>


<div id="chart-re-forecast" style="height: 300px; width: 800px;"></div>

<%= @forecast_rec %>
<hr>


</div>
