.btn-gradient {
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: bold;
  background: $ew-midpurple;
  transition: background 0.2s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-gradient:hover {
  background: $ew-lightpurple;
  color: white;
  text-decoration: none;
}

.btn-action {
  background: #FB1E7F;
  width: 100px;
  border-radius: 20px;
}
