.cards {
  display: flex;
  margin-top: 20px;
}

.card {
  margin-left: 30px;
  padding: 15px;
  width: 280px;
  height: auto;
  background-color: rgba(201,237,229,0.3);
  border: none;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

  h2 {
    font-family: Nunito;
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
}

.home {
  margin-right: 0px;
  margin-left: 250px;
  margin-top: 45px;
  width: 350px;
  height: auto;
  background: none;
  box-shadow: none;
  border-left: 5px dotted lightgrey;
  color: #575e5c;
}


.extra-top-margin {
  margin-top: 50px;
}

