.forecast-container {
  height: 400px;
  width: 800px;
  position: relative;
  text-align: center;

  border-radius: 20px;
  border: 5px solid $ew-lightgrey;
}

.toggle-details {
  z-index: 2;
  position: absolute;
  padding: 0;
  right: 24px;
  top: 24px;
  width: 60px;
  height: 24px;
  background-color: #FB1E7F;
  font-size: 12px;
}

.chart-overlay {
  position: absolute;
  height: 96%;
  width: 96%;
  opacity: 0;
  transition: .5s;
  padding-left: 16px;
  padding-top: 16px;
}

.chart-visible{
  opacity: 1;
  z-index: 1;
}

.chart-hidden{
  opacity: 0;
  z-index: 0;
}

.charts-details {
  border-radius: 20px;
  border: 5px solid $ew-lightgrey;
  display: flex;
  padding: 20px 30px;
}

.chart-container {
  width: 750px;
  padding: 15px 7px 5px 7px;
  border-radius: 20px;
  border: 5px solid $ew-lightgrey;
}

#smart-plug-daily {
  margin-top: 30px;
}
