.donut-frame {
  position: relative;
  width: 500px;
}

.donut {
  position: absolute;
  top: 25px;
  right: 38px;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);


  h3 {
    text-align: center;
    font-size: 25px;
    color: grey;
    margin: 20px 0px 0px 0px;
  }
}

.background-card {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 20px;
  height: 530px;
  width: 400px;
  background: #D2F7EF;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

}

.renewable-share {
  position: absolute;
  top: 232px;
  left: 202px;
  text-align: center;
  color: #575e5c;
}
