.footer {
  background: $energywatch-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: grey;
}
.footer .fa-heart {
  color: white;
}

