.line-now {
  position: absolute;
  bottom: 0px;
  left: -30px;
  background: #D5CFFE;
  width: 10px;
  height: 412px;
  opacity: 26%;
}

.line-forecast {
  position: absolute;
  bottom: 0px;
  left: -30px;
  background: #D5CFFE;
  width: 10px;
  height: 462px;
  opacity: 26%;
}

