.navbar-lewagon {
  justify-content: space-between;
  background: $energywatch-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin: 8px 0px;
}
