.title-below-banner {
  top: 0px;
  left: -20px;
  background: $ew-midpurple;
  width: 800px;
  height: 80px;
  color: white;
  font-weight: bold;
  padding: 10px 73px 10px 30px;

  p {
    margin: 0px;
  }

  h1 {
    font-size: 26px;
    margin: 14px;
  }
}
