.title-banner {
  top: 0px;
  left: -20px;
  background: #9fc6be;
;
  color: white;
  font-weight: bold;
  padding: 10px 73px 10px 30px;

  p {
    margin: 0px;
  }

  h1 {
    font-size: 26px;
  }
}
